.homepage {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero .overlay {
  background-color: transparent;
  width: 100%;
  height: 81vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.hero .overlay .top {
  width: 100%;
  height: 50%;
  background-color: #ff2d85;
}
.hero .overlay .bottom {
  background-color: #ff2d85;
  width: 100%;
  height: 50%;
}

.homepage .hero {
  width: 100%;
  height: 81vh;
  display: flex;
  position: relative;
}

.homepage > .hero > header {
  width: 100%;
  height: 70px;
  padding: 0 5%;
  line-height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.homepage header .logo {
  width: 30px;
  height: inherit;
}

.homepage header .hRight {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.homepage header .hRight .headerRound {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  height: 45px;
  box-shadow: 2px 2px 5px #71718762;
  border-radius: 50px;
  padding: 0 20px;
}

.homepage header .hRight .images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.homepage header .hRight .images img:nth-of-type(2) {
  margin: -10px;
}

.homepage header .hRight img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  object-fit: cover;
}

.homepage header .hRight button {
  background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
}

.homepage .hero .left {
  width: 50%;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage > .hero .left .logo {
  width: 30px;
  position: absolute;
  top: 8%;
  left: 8%;
}
.homepage .hero .left h1 {
  color: white;
  font-size: 60px;
  padding: 0 16%;
  margin: 40px 0;
  text-align: center;
}

.homepage .hero .left button {
  background: linear-gradient(45deg, #e61e4f, #d80665);
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}

.homepage .hero .right {
  width: 50%;
  height: 100%;
  position: relative;
}

.homepage .hero .right video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.homepage .second {
  background-color: white;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.homepage .second > h1 {
  font-size: 40px;
  margin: 0 10%;
  color: #222222;
  max-width: 500px;
}

.homepage .second .container {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
}

.homepage .second .container .findOut {
  background-color: #f7f7f7;
  width: 30%;
  margin: 10px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.homepage .second .container .findOut p {
  font-size: 12px;
  color: #717187;
}
.homepage .second .container .findOut h2 {
  font-size: 15px;
  font-weight: 600;
}

.homepage .second .container .findOut h2 span {
  font-size: 30px;
}

.homepage .second .container .findOut:nth-of-type(1) span {
  color: #e51b52;
}

.homepage .second p {
  font-size: 20px;
  font-weight: 600;
}

.homepage .map {
  height: 50vh;
  width: 100%;
  background-color: #717187;
  display: none;
}
.homepage .slider {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.homepage .slider h1 {
  max-width: 500px;
  font-size: 40px;
  text-align: center;
}

.carousel {
  width: 90%;
  margin: 20px 0;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow-x: overlay;
  overflow-y: hidden;
  transition: 0.8s;
}

.carousel::-webkit-scrollbar {
  width: 0;
}

.homepage .ukraine {
  width: 90%;
  margin: 0 0 40px 0;
  height: 350px;
  background-color: #ff385c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage .ukraine p {
  font-size: 30px;
  color: white;
  font-weight: 700;
  max-width: 500px;
  text-align: center;
}

.homepage .ukraine button {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid white;
  margin: 20px 0;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.homepage .questions {
  width: 90%;
  background-image: url("/public/backgroundwoman.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin: 0 0 40px 0;
  height: 50vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.homepage .questions p {
  font-size: 30px;
  color: white;
  font-weight: 700;
  text-align: center;
  max-width: 500px;
}

.homepage .questions button {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid white;
  margin: 20px 0;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

.aircover {
  width: 90%;
  min-height: 600px;
  display: flex;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px 0;
}

.aircover .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #222222;
  padding: 0 5%;
}

.aircover .left h1 {
  font-size: 100px;
  text-align: left;
  font-weight: 800;
}
.aircover .left h1 span {
  color: #fc3a5c;
}
.aircover .left p {
  font-size: 40px;
}
.aircover .left h3 {
  font-size: 25px;
  width: 70%;
  font-weight: 400;
  margin-top: 20px;
}

.homepage .left button {
  padding: 15px 30px;
  background-color: transparent;
  border: 1px solid black;
  margin: 20px 0;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  font-weight: 700;
  max-width: 200px;
}

.aircover .right {
  width: 50%;
  background-image: url("/public/airright.webp");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.try {
  width: 100%;
  height: 90vh;
  min-height: 600px;
  display: flex;
}

.try .left {
  width: 50%;
  position: relative;
}

.try .left video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.try .right {
  width: 50%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  color: white;
  text-align: center;
}

.try .right h2 {
  font-weight: 700;
  font-size: 40px;
}

.try .right p {
  font-weight: 400;
  margin: 30px 0;
  font-size: 20px;
  max-width: 200px;
}

.try .right button {
  font-weight: 400;
  margin: 30px 0;
  padding: 15px 30px;
  color: white;
  background: linear-gradient(40deg, #a51053, #ff2d85, #a51053);
  margin: 20px 0;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  max-width: 200px;
}

footer {
  width: 100%;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

footer .firstFooter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.support,
.community,
.hosting,
.airbnb {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

footer h1 {
  font-weight: 600;
  font-size: 14px;
}

footer li {
  font-size: 12px;
  list-style-type: none;
  color: #222222;
  cursor: pointer;
  margin: 10px 0;
}

footer hr {
  border: 1px solid #c9c9cc;
  margin: 20px 40px;
}

footer .secondFooter {
  color: #222222;
  margin: 0 40px;
  font-size: 15px;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }

  .homepage .hero header {
    display: none;
  }
  .homepage .hero {
    height: 400px;
    background-position: center center;
  }

  .homepage .hero .left {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: white;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    height: 25%;
    bottom: 0;
    justify-content: center;
    align-items: flex-start;
  }
  .homepage .hero .left h1 {
    color: #222222;
    font-size: 30px;
    max-width: 300px;
    text-align: left;
    padding: 0 5%;
  }
  .homepage .second .container .findOut h2 {
    font-size: 12px;
  }
  .homepage .second .container .findOut h2 span {
    font-size: 25px;
  }
  .homepage .hero .left button {
    display: none;
  }

  .homepage .hero .right {
    width: 100%;
  }

  .homepage .second {
    align-items: flex-start;
  }

  .homepage .second h1 {
    font-size: 25px;
    text-align: left;
    margin: 0 5%;
    font-weight: 600;
  }

  .homepage .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
  }

  .homepage .second .container .findOut:nth-of-type(1) {
    width: 100%;
  }
  .homepage .second .container .findOut {
    width: 47%;
    margin: 20px 0;
  }

  .homepage .slider {
    align-items: flex-start;
    padding: 0 5%;
  }

  .homepage .slider h1 {
    font-size: 25px;
    text-align: left;
    margin: 0 5%;
    max-width: 200px;
  }
  .homepage .carousel {
    width: 100%;
  }

  .homepage .questions {
    width: 90%;
    min-height: unset;
  }

  .homepage .aircover {
    width: 90%;
    min-height: 400px;
  }

  .aircover .left h1 {
    font-size: 40px;
  }
  .aircover .left p {
    font-size: 20px;
  }
  .aircover .left h3 {
    font-size: 15px;
    max-width: 200px;
  }
  .aircover .left button {
    padding: 10px 20px;
  }

  .try {
    width: 100%;
    height: 400px;
    flex-direction: column;
  }

  .try .left {
    width: 100%;
  }

  .homepage .try .right {
    width: 100%;
    height: 200px;
  }
  .homepage .try .right button {
    display: none;
  }
}
